ICP-5/Source/weather_desktop.txt
[
    {
        "id": "f4915747.5ffa88",
        "type": "tab",
        "label": "Weather Desktop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc8c4f9f.9967f",
        "type": "inject",
        "z": "f4915747.5ffa88",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ba076671.77caf8"
            ]
        ]
    },
    {
        "id": "8dbd7fb3.386df",
        "type": "debug",
        "z": "f4915747.5ffa88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd06bb9b.a800f8",
        "type": "ui_text",
        "z": "f4915747.5ffa88",
        "group": "cadd11cd.7a37e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weather",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba076671.77caf8",
        "type": "openweathermap",
        "z": "f4915747.5ffa88",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Kansas City",
        "country": "United States",
        "language": "en",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "8dbd7fb3.386df",
                "dd06bb9b.a800f8"
            ]
        ]
    },
    {
        "id": "cadd11cd.7a37e",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    }
]